@media (min-width: 992px){
    .container {
        max-width: 90%;
        min-height: 100%;
    }
}

@media(min-width : 1200px){
    .container{
        width : 90% !important;
    }
}

@media only screen and (max-width: 600px) {
    .heading-text{
        color: #ffffff;  
        font-size: 20px;
        z-index: 310; 
        text-align: right !important;
    }
}

    .App .wrapper{
        height: 90px;
    }
    

@media only screen and (max-width:425px){
    .App .wrapper{
        height: 123px;
    }
    
}
.App .wrapper{
    height: 60px;
}


.base-color{
    background-image: linear-gradient(to bottom, #12509E , #34B1C7 , #9DE0D5) !important;
    min-height: 100vh;
    min-width: 100vw;
}
.base-font{
    font-family: 'Helvetica Neue', Arial
}

.heading{
    /* background-image:linear-gradient(to right, #4e4376 50%,#2b5876   ) !important; */
    /* background-color: #ffffff;*/
    /* opacity: 0.3; */
    /* font-size:24px !important; */
    padding:14px 0 !important; 
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
    font-family: 'Helvetica Neue', Arial;
}

.heading-wrapper{
    color: #ffffff;  
    font-size: 26px;
    display: block;
}

.heading-wrapper:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: fix;
}
 /* .btn-group:hover{
    pointer-events: none
}  */
.heading-wrapper .btn-group, .heading-wrapper .header-label {
    display: block;
    float: left;
    margin: 0 5px;
    
}
.heading-wrapper .btn-group{
    padding-top:4px;
}
.heading-wrapper .btn{
    border: 0px solid transparent;
    border-bottom-color: rgba(256, 256, 256, .5);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 1px;
    padding: 2px 5px;
}
.yearRange-wrapper{
    color: #ffffff;  
    font-size: 16px;
    float : right;
    display: block;
}
@media only screen and (max-width:575px){
    .heading-wrapper .header-label, .heading-wrapper .btn-group{
        display: inline-block;
        vertical-align: bottom;
        float: none;  
    }

    .heading-wrapper .header-label {
        font-size: 20px;
        width: 53%;
    }

    .heading-wrapper .btn-group {
        width: 40%;
    }

    .yearRange-wrapper {
        float: none;
        margin-top: 10px;

    }
    .yearRange-wrapper  .btn-group{
        width: 34%;

    }
}



.yearRange-wrapper .btn-group, .yearRange-wrapper .yearRange-label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    float: none;
}

.yearRange-wrapper .btn-group.show {
    display: inline-block !important;
}
.yearRange-label{
    font-weight: 100;    
}

.yearRange-wrapper .btn:hover , .heading-wrapper .btn:hover { 
    color: #57beca;
}
.yearRange-wrapper .btn:focus, .heading-wrapper .btn:focus{ 
    color: #e5e8e9;
}
.yearRange-wrapper .dropdownNameSize{
    font-size: 13px !important;
    font-weight: lighter;
    padding: 5px !important;
}
.yearRange-wrapper .dropdownNameSize::selection{
    border: transparent;
}
   
.yearRange-wrapper .dropdown-toggle::after{
    vertical-align: .15em;
    border-top: .2em solid ;
    border-right:.2em solid transparent;
    border-left: .2em solid transparent;
    margin-left: 5.5em;
    
}
.dropdown-toggle::after{
    vertical-align: .15em;
    border-top: .2em solid ;
    border-right:.2em solid transparent;
    border-left: .2em solid transparent;
}
.kpi-card{
    border-radius: 4px !important;
}
.kpi{
    text-align: center;
}
.kpi-loading{
    height: 10em;
}
.kpi-heading{
    font-size:20px;
    font-family: 'Helvetica Neue', Arial;
    padding-top: 3%;
    padding-bottom: 0% !important;
    margin-bottom: 0% !important;
}
.kpi-value{
    font-size: 50px;
    font-weight: 700;
    color: #57beca;
}
.kpi-unit{
    font-size: 20px !important;
}

@media only screen and (max-width:768px){
    .App .wrapper{
        height: 90px;
    }
    .kpi-heading{
        font-size: 12px;
    }
    .kpi-value{
        font-size:36px;
    }

}
.chartdiv{
    width:100%;
    height:300px;
}
.chartLoading{
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    
}

.dateEditor{
    width:auto;
}


.dropdownButton{
     background-color: transparent!important ;
     
    /* color: #ffffff !important; */
}
.dropdown-item:focus{
    outline-color: #f8f9fa;
}
.dropdownNameSize{
    font-size: 20px !important;
    font-weight: 100;
}
.btn{
    border: 0px solid transparent;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 1px;
    padding-bottom: 2px;
}
